*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: black;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

body,
input,
button {
    font-size: default;
    font-family: default;
}

button {
    cursor: pointer;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 5px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 3px;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s ease-in;
}

.hour-hand {
    background: red;
}