@font-face {
    font-family: Lazer84;
    src: url(fonts/Lazer84.ttf);
}

 :root {
    --primary-color: #0a192f;
    --secondary-color: #01FFF4;
    --pink: #FF1178;
    --green: #7CFF01;
    --yellow: #FFF205;
    --m-t-b: 20px 0px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Lazer84;
}

main {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

h1 {
    display: block;
    padding: 10px;
    font-family: Lazer84;
    text-decoration-line: underline;
    transition: all 0.5s;
    transform: skewY(-10deg) scale(0.9);
    ;
    text-shadow: 2px 2px var(--pink);
}

h1:hover {
    transform: skewY(0deg) scale(1);
    text-shadow: 2px 2px var(--secondary-color);
    color: var(--pink);
}

input[type="button"] {
    font-family: Lazer84;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 5px 15px;
    margin: 0 10px;
    background-color: var(--primary-color);
    transition: 0.2s;
}

input[type="button"]:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

input[type="button"].toggle-on {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--secondary-color);
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: var(--primary-color);
    margin-top: -5px;
    border-radius: 50%;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.controls {
    width: 100vw;
    height: 100px;
    margin: var(--m-t-b);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.colors {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grid-tools {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.grid-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: var(--secondary-color);
    animation: shadow-zoom-effect 3s ease infinite;
}

@keyframes shadow-zoom-effect {
    0% {
        box-shadow: 2px 2px var(--secondary-color);
    }
    50% {
        box-shadow: 6px 6px var(--secondary-color);
    }
    100% {
        box-shadow: 2px 2px var(--secondary-color);
    }
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: #00364a;
    user-select: none;
    -webkit-user-drag: none;
    margin: var(--m-t-b);
}

.gridPixels {
    background-color: #00364a;
}

.gridPixels.borderTopLeft {
    border-top: 1px solid black;
    border-left: 1px solid black;
}